[submodule "external/ebooklib"]
	path = external/ebooklib
	url = https://github.com/aerkalov/ebooklib
[submodule "external/Riffling"]
	path = external/Riffling
	url = https://github.com/Jwuthri/Riffling
